* {
	margin: 0 !important;
	padding: 0;
}


body {
	background-color: #F2F2F2;
	font-family: 'Ubuntu', sans-serif;
}

/* HEADER */
#header {
	background-color: #A0A0A0;
	color: #F2F2F2;
	padding: 20px 50px; 
}

#header small {
	font-size: 18px;
}

.btn-primary {
	background-color: #7B8380;
	border: #333;
}

#header form label {
	margin-right: 20px !important;
	padding: 2px;
	font-size: 20px;
	border-bottom: 2px solid #50A216;
}

/* NAV */
.nav li a {
	color: #333333;
}

#inforow {
	display: block;
	min-height: 75px;
}

.alert {
	width: 60%;
	margin: 10px auto !important;
	display: none;
}

/* content */
#content {
	padding-bottom: 50px;
	margin: auto 75px !important;
}

/* auctions */
#auction-list {
	margin: 10px !important;
}

#auctions {
	list-style-type: none;
}

#auctions li {
	background-color: #DDD;
	display: inline-block;
	padding: 20px;
	margin: 10px !important;
	width: 290px;
	vertical-align: top;
}

#auctions li img{
	max-width: 250px;
	max-height: 190px;
	display: block;
	margin: 0 auto 5px !important;
}

#auctions li h2 {
	margin: 10px 0 !important;
}

#auctions li h5 {
	font-weight: bold;
	margin: 10px auto !important;
	text-align: center;
}

#auctions li p {
	height: 80px;
	margin: 0 0 15px !important;
}

#auctions li form {
	margin: 20px 0 0 !important;
	text-align: center;
}

#auctions li form input {
	width: 150px;
	text-align: center;
}

#auctions li form button {
}

.point {
	width: 16px;
	height: 16px;
	display: inline-block;
	border-radius: 10px;
}

.grey {
	background-color: #777;
}

.green {
	background-color: #57BB63;
}

.red {
	background-color: #CD0000;
}