* {
	margin: 0 !important;
	padding: 0;
}


body {
	background-color: #F2F2F2;
	font-family: 'Ubuntu', sans-serif;
}

/* HEADER */
#header {
	background-color: #A0A0A0;
	color: #F2F2F2;
	padding: 20px 50px; 
}

#header small {
	font-size: 18px;
}

.btn-primary {
	background-color: #7B8380;
	border: #333;
}

#header form label {
	margin-right: 20px !important;
	padding: 2px;
	font-size: 20px;
	border-bottom: 2px solid #50A216;
}

/* NAV */
.nav li a {
	color: #333333;
}

/* CONTENT */
#content {
	margin: auto 100px !important;
}

.inforow {
	min-height: 75px;
}

.alert {
	width: 40%;
	margin: 10px auto !important;
}

/* content */
#content {
	padding-bottom: 50px;
}

/* auctions */
#auction-list {
	padding: 20px;
	margin: 10px;
}

#auctions {
	list-style-type: none;
}

#auctions li {
	background-color: #DDD;
	display: inline-block;
	padding: 20px;
	margin: 10px !important;
	width: 290px;
	vertical-align: top;
}

#auctions li img{
	max-width: 250px;
	max-height: 190px;
	display: block;
	margin: 0 auto 5px !important;
}

#auctions li h2 {
	margin: 10px 0 !important;
}

#auctions li h5 {
	font-weight: bold;
	margin: 10px auto !important;
	text-align: center;
}

#auctions li p {
	height: 80px;
}

#auctions li form {
	margin: 20px 0 0 !important;
	text-align: center;
}

#auctions li form input {
	width: 150px;
	text-align: center;
}

#auctions li form button {
}

/*
#header small {
	font-size: 15px;
	font-weight: 100;
}

#header #username {
	text-align: right;
	position: absolute;
	margin-top: -25px;
}

#content {
	width: 70%;
	margin: 0 auto;
}

#content form {
	text-align: center;
	margin-top: 20px;
}

#content form input{
	height: 25px;
}

#content form button{
	height: 35px;
	width: 70px;
	background-color: #A0A0A0;
	color: #F2F2F2;
	border: none;
	border-radius: 5px;
}

#content #nots {
	padding: 50px;
}

#content #nots h4{
	margin-bottom: 25px;
}

#content #messages {
	list-style-type: none;
}

#content #messages li {
	background-color: #DDD;
	margin-bottom: 10px;
	padding: 10px;
	border-radius: 5px;
}
*/